
.vs/INFO5060 Project1/FileContentIndex/read.lock
.vs/INFO5060 Project1/FileContentIndex/f25dd0be-c74f-4c0e-baa4-4833b4ecb8f2.vsidx
.vs/INFO5060 Project1/FileContentIndex/ba63dd58-244c-4257-b6ac-d7bdd4643da1.vsidx
